i {
    color: var(--preto);
}

.separador{
    display: flex;
    background-color: var(--preto);
    width: 70%;
    height: 0.5px;
    position: relative;
    top: -10px;
}

.sidebar main div {
    gap: 5px;
    margin-left: 28px;
    margin-top: 23%;

}
.sidebar main div a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 400;
    font-family: 'montserrat', 'Arial';
    font-size: small;

}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height:100vh;
    background-color: var(--background);
    border-radius: 0px 5vh 0px 0px;
}

.sidebar header{
    text-align: center;
}

.sidebar header img {
    width: 100%;                               
    margin-top: 16%;
}
