.container{
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.container h1{
    margin-top: 5%;
    display: block;
    color: var(--preto);
    width: fit-content;
    height: fit-content;
    font-weight: 500;
}

.cadastro-box{
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 60%;
    
}

.cadastro-box form label{
    color: var(--preto);
    display: flex;
    align-items: flex-start;
    font-weight: 300;
}

.cadastro-box form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 2px solid rgb(0, 106, 255); */
    height: fit-content;
    align-items: center;
}


.input-group{
    gap: 15px;
    height: 50%;
    width: 100%;
}

.input-group input{
    border: .5px solid rgba(0, 0, 0, 0.174);
    border-radius: 8px;
    width: 100%;
    height: 8vh;
    background-color: var(--background);
    
}

.input-group input:focus{
    background-color: var(--background);
}

.criar-docente{
    color: var(--textoSelecionado);
    background-color: var(--azulSecundario);
    border-radius: 8px;
    width: 65%;
    height: 160px;
    border: none;
    font-size: large;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer;
}

#telefone{
    width: 40%;
}
