/* .sub-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: start;
    margin-top: 50px;
}

.voltar2 {
    display: flex;
    align-items: center;
    align-self: flex-start;
    color: var(--textoNotificacoes);
    cursor: pointer;
    gap: 15px;
    font-size: large;
    margin-left: 5px;
}

.sub-container h1 {
    margin-top: 15px;
    display: flex;
    width: fit-content;
    color: var(--preto);
    font-weight: 500;
    margin-left: 25px;
    margin-bottom: 50px;
}

.inputs {
    display: flex;
    width: fit-content;
    margin-left: 25px;
    gap: 15px;
}

#nome_turma {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    border: .5px solid rgba(0, 0, 0, 0.359);
    padding: 15px;
    padding-right: 105px;
    font-size: medium;
    font-weight: 200;
    border-radius: 10px;
    background-color: var(--background);
}

#professor {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    border: .5px solid rgba(0, 0, 0, 0.359);
    padding: 15px;
    font-size: medium;
    font-weight: 200;
    border-radius: 10px;
    background-color: var(--background);
    color: rgba(0, 0, 0, 0.5);
}

.pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--textoNotificacoes);
    justify-content: center;
    border-radius: 10px;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
}

.pesquisa i {
    color: white;
}

.separador-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: .3px solid rgba(0, 0, 0, 0.759);
}

.adicionar-turma {
    display: flex;
    padding: 15px;
    gap: 15px;
    font-size: medium;
    border-radius: 10px;
    border: .5px solid rgba(0, 0, 0, 0.359);
    cursor: pointer;
}

.adicionar-turma p {
    display: flex;
    font-weight: 100;
    color: var(--preto);
}

.adicionar-turma i {
    display: flex;
    align-items: center;
}

.turmas {
    display: flex;
    margin-left: 25px;
    flex-direction: column;
}

.cabecalho-turmas {
    display: grid;
    grid-template-columns: 270px 140px 48px;
    align-items: center;
    column-gap: 85px;
    padding: 18px 12px;
    font-size: larger;
    color: var(--preto);
    margin-top: 45px;
}

.cabecalho-turmas p {
    margin: 0;
}

.cabecalho-turmas p:nth-child(1) {
    text-align: left;
}

.cabecalho-turmas p:nth-child(2) {
    text-align: center;
}

.cabecalho-turmas p:nth-child(3) {
    text-align: right;
}

.separador2 {
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, .15);
    width: 81%;
    margin: 6px 0 10px 0;
}

#turmas {
    display: grid;
    grid-auto-rows: auto;
    margin-left: 25px;
    color: var(--preto);
}

.linha-turma {
    display: grid;
    grid-template-columns: 8fr 2fr 48px;
    align-items: center;
    padding: 18px 12px;
    column-gap: 75px;
}

.nome-turma {
    text-align: left;
}

.nome-professor {
    text-align: center;
}

.linha-turma i {
    text-align: right;
    cursor: pointer;
}

.lista-turmas{
    font-size: medium;
    margin-bottom: 50px;
} */
