.titulo-home strong {
  /* display: flex; */
  color: var(--azulSecundario);
  font-weight: 400;
}

.titulo-home {
  font-family: "Montserrat", sans-serif;
  color: var(--preto);
  font-weight: 400;
  font-size: 40px;
  /* border: 2px solid red; */
  height: fit-content;
  width: fit-content;
}

.container {
  /* border: 2px solid blue; */
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
}

.content {
  display: flex;
  margin-left: 80px;
  flex-direction: column;
  margin-top: 85px;
  gap: 55px;
}

.infos-turma {
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 2px 4px 25px 1px;
}

#infos button {
  background-color: var(--laranjaSecundario);
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#infos button a {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  color: var(--preto);
  font-size: medium;
  text-decoration: none;
}

#infos p {
  color: black;
  font-size: small;
  margin: 5px 0;
}

#infos h1 {
  font-weight: 400;
  color: black;
  text-wrap: nowrap;
  font-size: x-large;
}

.infos-turma strong {
  color: var(--laranjaSecundario);
  font-weight: 400;
}

.infos-turma {
  padding: 75px 40px 75px 40px;
  width: fit-content;
  height: 39%;
  background-color: var(--background);
  gap: 65px;
}

.separador-vertical {
  border: 1px solid black;
}

.ocorrencia {
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 4px 25px 1px;
  border: 2px solid red;
  padding: 0 0 0 -40px;

}

.ocorrencia h2 {
  font-size: medium;
  color: var(--preto);
  text-align: center;

}

.coluna-esquerda {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: var(--back);
  box-shadow: 2px 4px 25px 1px;
  gap: 10px;
}

.coluna-direita {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: var(--back);
  box-shadow: 2px 4px 25px 1px;
  gap: 10px;
}

.lista-ocorrencias {
  /* border: 2px solid red; */
  /* width: fit-content; */
  align-items: center;
  color: var(--preto);
  text-wrap: nowrap;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.ocorrencia-item {
  font-size: medium;
  border-radius: 25px;
  margin: 15px;
  padding: 15px;
  color: var(--preto);
  border: .5px solid rgba(0, 0, 0, 0.52);
}

.ocorrencia-item.cor-laranja {
  background-color: var(--laranjaSecundario);
}

.ocorrencia-item.cor-verde {
  background-color: var(--sucesso);
}

.ocorrencia-item.cor-vermelha {
  background-color: var(--erro);
}


.lista-ocorrencias {
  /* width: fit-content; */
  align-items: center;
  color: var(--preto);
  text-wrap: nowrap;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.lista-ocorrencias span {
  /* border: 2px solid red; */
  cursor: pointer;
}

.lista-registros {
  /* width: fit-content; */
  align-items: center;
  color: var(--preto);
  text-wrap: nowrap;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.registro {
  font-size: medium;
  border-radius: 25px;
  margin: 15px;
  padding: 15px;
  color: var(--azul);
  border: .5px solid rgba(0, 0, 0, 0.52);
  background-color: var(--azulSecundario);
}