/* Estilo do corpo da página para centralizar a caixa de login */
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/FundoLogin.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Caixa principal do formulário de login */
.login-box {
  background: var(--branco);
  width: 70%;
  height: 67%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  
}

/* Logo do SENAI */
.login-box img {
  width: 40%;
  margin-bottom: 4rem;
  align-self: center;
  
}

#email::placeholder, #password::placeholder {
  opacity: 0.6;
}

.input-group label{
  color: var(--preto);
}

/* Grupo de label + input */
.input-group {
  margin-bottom: 1.7rem;
  text-align: left;
}

label{
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
}

.input-group input {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: large
  
}

/* Botão "Entrar" */
.login-button {
  width: 100%;
  height: 61px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: var(--branco);
  font-size: x-large;
  font-weight: 600;
  background-color: var(--azulPrincipal);
  border-radius: 50px;
  border: none;
  margin-top: 1rem;
}

/* Link "Esqueci minha senha" */
.forgot-password {
  display: block;
  text-align: left;
  margin-top: 1.9rem;
  color: var(--preto);
  text-decoration: underline;
  font-weight: 500;
  font-size: large;
  
  
}

/* Link "Não tem uma conta? Registrar" */
.register-link {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  
}

.register-link strong {
  font-weight: 600;
  color: var(--preto);
  text-decoration: underline;
  
}
