body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/FundoLogin.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  background: var(--branco);
  width: 31%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  
}

.login-box img {
  width: 40%;
  margin-bottom: 2rem;
  align-self: center;
  
}

#email::placeholder, #password::placeholder {
  opacity: 0.6;
}

.input-group label{
  color: var(--preto);
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

label{
  font-size: small;
  font-weight: 200;
  margin-bottom: 0.5rem;
  display: block;
}

.input-group input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: .7px solid rgba(0, 0, 0, 0.475);
  border-radius: 8px;
  font-size: large
  
}

.input-group input::placeholder{
  font-size: small;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.300);
  
}

.login-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: var(--branco);
  font-size: large;
  font-weight: 300;
  background-color: var(--azulPrincipal);
  border-radius: 50px;
  border: none;
  margin-top: 1rem;
}

.forgot-password {
  display: block;
  text-align: left;
  margin: 1rem 0 4rem;
  color: var(--preto);
  text-decoration: underline;
  font-weight: 300;
  font-size: small;
  width: fit-content;
}

.register-link {
  display: flex;
  color: var(--preto);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  text-align: center;
  width: fit-content;
  justify-content: flex-end;
  align-self: center;
  
}

.register-link strong {
  font-weight: 600;
  color: var(--preto);
  text-decoration: underline;
}