.separador{
    display: flex;
    background-color: var(--preto);
    width: 70%;
    height: 0.5px;
    position: relative;
    top: -10px;
    
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;     
    border: none;
}

.sidebar nav button {
  display: flex;
  gap: 10px;             
  border: none;
  color: var(--preto);
  font-size: small;
  cursor: pointer;
  width: 80%;             
  padding: 4px 4px;
  border-radius: 8px;
  font-weight: 300;
}

.sidebar nav button span {
  display: flex;
  align-items: center;    /* centraliza verticalmente ícone e texto */
  gap: 18px;               /* espaço entre o ícone e o texto */
}


.sidebar {
    font-family: "Montserrat", "arial-sans";
    display: flex;
    flex-direction: column;
    width: 20vw;
    height:100vh;
    background-color: var(--background);
    border-radius: 0px 5vh 0px 0px;
    border: 2px solid rgb(89, 255, 0);
    justify-self: flex-start;
    align-self: flex-start;
    
}


.sidebar header{
    display: flex;
    justify-content: center;
}

.sidebar header img {
    width: 79.5%;                               
    margin-top: 16%;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    height: fit-content;
    margin-top: 3rem; 
    align-items: center;
    border: 2px solid red;
    
}

.titulos-sidebar{
    color: var(--azulPrincipal);
    /* border: 2px solid red; */
    font-size: medium;

}
.sidebar nav span{
    font-family: "Montserrat", "arial-sans";
    text-align: left;
    display: flex;
    font-weight: 300;
    text-wrap: nowrap;
}

.termos{
    font-family: "Montserrat", "arial-sans";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--preto);
    gap: 2px;
    font-size: small;
    margin-bottom: 25px;
}
.termos h6 {
    font-weight: 300;
    font-size: x-small;
}

.termos, .perfil{
    margin-left: 10%;
    
}

.perfil{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* border: 2px solid red; */
    gap: 10px;   
    align-items: center;
    color: var(--preto);
    border: 2px solid rgb(89, 255, 0);

}

.perfil h6{
    font-size: large;
    font-weight: 300;
    cursor: pointer;

}

.perfil span{
    cursor: pointer;
}
.perfil img{
    cursor: pointer;
    flex-direction: row;
    display: flex;
    width: 35px;
    height: auto;
    border-radius: 50px;
    border: 1.5px solid var(--preto);
}

.body-central{
    font-family: "Montserrat", "sans-serif";
    display: flex;
    height: 100%;
    width: 75.5vw;
    background-color: var(--background);
    border: 2px solid red;
    border-radius: 5vh 0px 0px 0px;
}

body{
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid rgb(255, 251, 6);
    background-color: var(--back);
    justify-content: space-between;
}

.foot{
    margin-top: 135px;
}
