:root {
  --back: #E4E4E4;
  --background: #EFEFEF;
  --textoCinza: #F2F2F2;
  --textoCinzaSuporte: #BABABA;
  --textoSelecionado: #FFFFFF;
  --branco: #FFFFFF;
  --azulPrincipal: #2957A4;
  --azulSecundario: #4F89DF;
  --laranjaPrincipal: #D95D36;
  --laranjaSecundario: #DF804D;
  --erro: #EE6E6E;
  --sucesso: #CAF6A7;
  --preto: #000000;
  --textoNotificacoes: #606060;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Montserrat", "sans-serif";
  background-color: var(--back);
  color: var(--textoCinzaSuporte);
}

footer {
  background-color: transparent; /* Cor de fundo escura */
  color: white; /* Cor do texto do rodapé */
  text-align: center; /* Centraliza o texto */
  padding: 15px 0; /* Espaçamento interno no topo e na base */
  width: 100%; /* Faz com que o rodapé ocupe toda a largura */
  position: absolute; /* Posiciona o rodapé de forma absoluta */
  bottom: 0; /* Posiciona o rodapé na parte inferior da página */
  font-size: xx-small;
}