* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#body-suporte {
    background-color: var(--background);
    color: var(--textoCinza);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 200px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 10rem; 
}

.colunas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px; 
    width: 1;
}

.coluna-esquerda, .coluna-direita {
    width: 45%;
    padding: 20px;
}

.titulo-esquerda {
    font-size: 1.6rem;
    color: var(--azulPrincipal);
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.texto-suporte-esquerda {
    color: var(--preto);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    margin-left: 6rem;
    font-weight: 300;
}
#icons {
    width: 500px;
    display: flex;
    align-items: center;
}
#icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    background-color: var(--azulPrincipal);
    border-radius: 9px;

}
.email-contato, .numero-contato {
    gap: 12px; 
}

.imagem-email, .imagem-telefone {
    background-color: var(--azulClaro);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: var(--azulPrincipal);
}


.texto-email, .numero-telefone {
    color: var(--preto);
    font-size: 1rem;
}

.botao-voltar {
    background-color: var(--azulPrincipal);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.botao-voltar:hover {
    background-color: #15307b;
}

.divisao {
    width: 1px;
    height: 420px;
    background-color: var(--preto);
}

.coluna-direita {
    text-align: left;
}

.titulo-direita {
    color: var(--azulPrincipal);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.texto-suporte-direita {
    list-style: disc;
    padding-left: 25px;
    color: var(--preto);
    font-size: small;
    line-height: 1.6;
}

.texto-suporte-direita li {
    margin-bottom: 15px; 
}

.texto-suporte li {
    margin-bottom: 15px;
}